@model DataConcert
@{
    Layout = "_NoLayout";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Add Concert</h3>
            </div>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" action="Add">
                    <div class="mb-3">
                        <label>Concert Name</label>
                        <input type="text" name="NamaKonser" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Musician</label>
                        <input type="text" name="Musisi" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Place of Concert</label>
                        <input type="text" name="TempatKonser" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Date of Concert</label>
                        <input type="datetime-local" name="TanggalKonser" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Kuota</label>
                        <input type="text" name="KuotaTiket" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Status</label>
                        <select name="Status" class="form-control">
                            <option>Not Published</option>
                            <option>Published</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Photo</label>
                        <input type="file" name="Photo" class="form-control" accept=".png,.jpg,.jpeg" />
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-danger" href="/Concert/Index">
                            Back
                        </a>
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>